.top-50p{top:50%}
.left--21{left:-21px}
.color-4abdcc{color:#4abdcc}
.color-999999{color:#999}
.color-5c5c5c{color:#5c5c5c}
.color-a8915e{color:#a8915e}
.color-4abdcc{color:#4abdcc}
.width-183{width:183px}
.height-150{height:150px}
.height-183{height:183px}
.min-width-210{min-width:210px}
.min-width-430{min-width:430px}
.margin-top--21{margin-top:-21px}
.padding-left-183{padding-left:183px}
.border-radius-20{border-radius:20px}
.border-radius-30{border-radius:30px}
.border-radius-40{border-radius:40px}
.border-radius-50{border-radius:50px}
.background-color-4abdcc{background-color:#4abdcc}
.background-color-fbfbfb{background-color:#fbfbfb}
.background-color-fbf7ed{background-color:#fbf7ed}
.background-color-e7ddc6{background-color:#e7ddc6}
.background-color-f2f2f2{background-color:#f2f2f2}
.cols:before,.cols:after{display:table;content:" ";line-height:0}
.cols:after{clear:both}
.cols.collapse{place:holder}
.cols >.col,.cols >*{float:left;}
.cols >.col.float-right,.cols >*.float-right{float:right}
.cols.right >.col,.cols.from-right >.col,.cols.right >*,.cols.from-right >*{float:right}
.journey-list.list .journey .icon-tick{width:42px;height:42px;background-size:100% 100%;background-repeat:no-repeat;background-position:center center;background-image:url("img/icon/tick-grey-42x42.png")}
.journey-list.list .journey.journey-date{place:holder;}
.journey-list.list .journey.journey-date.selected .icon-tick{background-image:url("img/icon/tick-green-42x42.png")}
.journey-list.list .journey.journey-day{place:holder;}
.journey-list.list .journey.journey-day.selected .icon-tick{background-image:url("img/icon/tick-green-42x42.png")}
.journey-list.list .journey.journey-photo{place:holder;}
.journey-list.list .journey.journey-photo.selected .icon-tick{background-image:url("img/icon/tick-green-42x42.png")}
.journey-list.list .journey.journey-text{place:holder;}
.journey-list.list .journey.journey-text.selected .icon-tick{background-image:url("img/icon/tick-green-42x42.png")}
.vertical-center{display:table-cell;vertical-align:middle}
.horizontal-center{display:table;margin-left:auto;margin-right:auto}
.page-container{min-width:640px;margin-left:auto;margin-right:auto;padding:0;box-sizing:content-box}
.content-container{padding-left:30px;padding-right:30px}
